# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# credential files (DELETE THESE AFTER USE!)
CREATE_YOUR_ADMIN_PROFILE.sql
*_CREDENTIALS.sql

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts